<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Storyboard</title>
</head>
<style>
</style>
<body>
    <div id='app'>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <ul id="menu" class="nav  ">
                <li v-for="item in items" :key="item.message" class="nav-item">
                    <a class="nav-link active text-danger" href="">{{item.message}}</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Page Content -->
    <div id="template" class="container">
        <h1 contenteditable="true" class="editavel font-weight-light text-center text-lg-left mt-4 mb-0">{{titulo}}</h1>
        <hr class="mt-2 mb-5">
        <div class="row mb-3">
            <div class="col-6">
                <button @click="novoQuadro" class="btn btn-success">Novo</button>
            </div>
            <div class="col-6">
                Total de quadros {{totalQuadros}}
            </div>
        </div>
        <div class="row text-center text-lg-left">
            <div id="quadro" data-toggle="modal" data-target="#novoQuadro" v-for="n in totalQuadros" :key="n"
                class="quadro  border border-dark d-flex justify-content-center align-items-center">
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade " id="novoQuadro">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 contenteditable="true" class="modal-title editavel">{{tituloQuadro}}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <canvas id="canvas" width="800" height="500">
                        </canvas>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/template.js"></script>
    <script>
        //Canvas
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');
        //Variables
        var canvasx = $(canvas).offset().left;
        var canvasy = $(canvas).offset().top;
        var last_mousex = last_mousey = 0;
        var mousex = mousey = 0;
        var mousedown = false;
        var tooltype = 'draw';
        //Mousedown
        $(canvas).on('mousedown', function (e) {
            last_mousex = mousex = parseInt(e.clientX - canvasx);
            last_mousey = mousey = parseInt(e.clientY - canvasy);
            mousedown = true;
        });
        //Mouseup
        $(canvas).on('mouseup', function (e) {
            mousedown = false;
        });
        //Mousemove
        $(canvas).on('mousemove', function (e) {
            mousex = parseInt(e.clientX - canvasx);
            mousey = parseInt(e.clientY - canvasy);
            if (mousedown) {
                ctx.beginPath();
                if (tooltype == 'draw') {
                    ctx.globalCompositeOperation = 'source-over';
                    ctx.strokeStyle = 'black';
                    ctx.lineWidth = 2;
                } else {
                    ctx.globalCompositeOperation = 'destination-out';
                    ctx.lineWidth = 10;
                }
                ctx.moveTo(last_mousex, last_mousey);
                ctx.lineTo(mousex, mousey);
                ctx.lineJoin = ctx.lineCap = 'round';
                ctx.stroke();
            }
            last_mousex = mousex;
            last_mousey = mousey;
            //Output
            $('#output').html('current: ' + mousex + ', ' + mousey + '<br/>last: ' + last_mousex + ', ' + last_mousey + '<br/>mousedown: ' + mousedown);
        });
        //Use draw|erase
        use_tool = function (tool) {
            tooltype = tool; //update
        }
    </script>
</body>
</html>